<!DOCTYPE html>
<html>

<head>
    <title>Tradeon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">TradeON</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-pills" id="navbarNav">
          <%= active_link_to 'States', states_path, class: "nav-item nav-link" %>
          <%= active_link_to 'Currencies', currencies_path, class: "nav-item nav-link" %>
          <%= active_link_to 'Document Types', doctypes_path, class: "nav-item nav-link" %>

        </div>
    </nav>
    <div class="container">
        <%= yield %>
    </div>
</body>

</html>
